/*
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*/

.width {
    padding: 0 300px;
}

.header, .footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;;
}

.header {
    margin-bottom: 64px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-list a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-hero {
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    justify-content: space-between;
    max-width: 500px;
}

.hero-img {
    max-width: 500px;
    border-radius: 6px;
}

.hero p {
    margin-top: 0;
}

.header-hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}




.btn {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 1px solid #3882f6;
    border-radius: 12px;
    font-size: 18px;
    padding: 5px 47px;
}

/* Pics Section */

.pics-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 0;
}

.blocks {
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.block {
    padding: 0 32px;
}

.block-img {
    width: 200px;
    height: 200px;
    
    border-radius: 16px;
}

.block-text {
    text-align: center;
    max-width: 200px;
}

.block-text em {
    font-size: 18px;
}